@{
    ViewData["Title"] = "Board Game Group with Cats";
}
<div class="row">
    <div class="col-12 text-center">
        <h4 class="display-4">Welcome to Board Game Central</h4>

        <div class="row">
            <div class="col">

            </div>
            <p>This is an informational site on board game setup and rules. Plus we have a lots of kitties</p>
        </div>

        <div class="row">
            <div class="col">
                <img src="images\cat-image-01.jpg" />
            </div>
        </div>
    </div>
</div>

